@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
  /* :root {
    --accent-rosewater: 6 45% 91%;
    --accent-flamingo: 0 59% 86%;
    --accent-pink: 320 71% 86%;
    --accent-mauve: 264 83% 81%;
    --accent-red: 354 76% 75%;
    --accent-maroon: 350 62% 77%;
    --accent-peach: 30 92% 75%;
    --accent-yellow: 48 87% 83%;
    --accent-green: 120 49% 76%;
    --accent-teal: 168 57% 74%;
    --accent-sky: 192 70% 73%;
    --accent-sapphire: 198 69% 69%;
    --accent-blue: 220 88% 80%;
    --accent-lavender: 228 87% 90%;
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --accent-rosewater: 6 45% 91%;
    --accent-flamingo: 0 59% 86%;
    --accent-pink: 320 71% 86%;
    --accent-mauve: 264 83% 81%;
    --accent-red: 354 76% 75%;
    --accent-maroon: 350 62% 77%;
    --accent-peach: 30 92% 75%;
    --accent-yellow: 48 87% 83%;
    --accent-green: 120 49% 76%;
    --accent-teal: 168 57% 74%;
    --accent-sky: 192 70% 73%;
    --accent-sapphire: 198 69% 69%;
    --accent-blue: 220 88% 80%;
    --accent-lavender: 228 87% 90%;
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 229 0% 90%;
    --primary-foreground: 0 0% 0%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
  } */
  :root {
    --background: 222 55% 100%;
    --foreground: 222 54% 1%;
    --muted: 192 35% 85%;
    --muted-foreground: 192 10% 30%;
    --popover: 222 55% 100%;
    --popover-foreground: 222 54% 1%;
    --card: 222 55% 100%;
    --card-foreground: 222 54% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 222 25% 83%;
    --primary-foreground: 222 25% 23%;
    --secondary: 192 25% 83%;
    --secondary-foreground: 192 25% 23%;
    --accent: 252 25% 83%;
    --accent-foreground: 252 25% 23%;
    --destructive: 6 95% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 222 25% 83%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 52% 0%;
    --foreground: 222 10% 99%;
    --muted: 192 35% 15%;
    --muted-foreground: 192 10% 70%;
    --popover: 222 52% 0%;
    --popover-foreground: 222 10% 99%;
    --card: 222 52% 0%;
    --card-foreground: 222 10% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 222 25% 83%;
    --primary-foreground: 222 25% 23%;
    --secondary: 192 25% 83%;
    --secondary-foreground: 192 25% 23%;
    --accent: 252 25% 83%;
    --accent-foreground: 252 25% 23%;
    --destructive: 6 95% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 222 25% 83%;
  }
}
@layer base {
  @font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("/Monteserrat/Montserrat-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("/Monteserrat/Montserrat-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/Monteserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  @font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("/Monteserrat/Montserrat-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 400;
    src: url("/Oswald/Oswald-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 600;
    src: url("/Oswald/Oswald-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 700;
    src: url("/Oswald/Oswald-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 200;
    src: url("/Oswald/Oswald-Light.ttf") format("truetype");
  }

  * {
    @apply border-border;
    @apply box-border;
    transition: background-color ease 0.4s;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
  }
  * {
    scrollbar-width: none;
  }
}
